services:
    ngrok:
      image: ngrok/ngrok:latest
      container_name: ngrok
      restart: unless-stopped
      command:
        - "http"
        - "--domain=${NGROK_DOMAIN}"
      environment:
        - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
      ports:
        - "4040:4040"  # ngrok web interface